.container {
  max-width: 1440px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 25%;
  grid-gap: 320px;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.btn:focus,
.btn a:focus {
  outline: none;
}

.heading {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.text-center {
  text-align: center;
}

/* margins */

.mt {
  margin-top: 30px;
}

.mb {
  margin-bottom: 25px;
}
